$backround: #22ccff;
$normal-font-size: 24px;

body {
    background: $backround;
    text-align: center;
    .main-title {
       color: #ccc;
    }
    .container {
        font-size: $normal-font-size;
    }
}